/* Reset default margin and padding */
body {
    margin: 0;
    padding: 0;
}

/* Styling for the header */
header {
    background-image: url('images/HeaderBackground.jpg');
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 20px;
    margin-top: 0;
}

/* Styling for the navigation bar */
nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #008080;
    padding: 10px 0;
    text-align: center;
    z-index: 1; /* Ensure the nav bar stays above the background image */
}

/* Styling for navigation links */
nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
    font-size: 18px;
}

/* Styling for the logo */
.logo {
    height: 60px;
    margin-left: auto;
    margin-right: auto;
}

/* Container for mail and video */
.content-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    max-width: 1200px;
    margin: 300px auto 0;
}

/* Styling for the mail section */
.mail {
    flex: 1;
    max-width: 600px;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    margin-right: 20px;
}

/* Styling for textareas and input fields */
textarea, input[type="email"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    resize: none;
    height: auto;
    min-height: 50px;
    max-height: 300px;
    overflow-y: auto;
}

/* Styling for submit button */
input[type="submit"] {
    width: 100%;
    padding: 10px;
    border: none;
    background-color: #007bff;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
}

/* Hover effect for submit button */
input[type="submit"]:hover {
    background-color: #0056b3;
}

/* Styling for the video container */
.video-container {
    flex: 1;
    max-width: 560px;
}

.video-container iframe {
    margin: auto;
    border: 1px;
}

/* Styling for footer */
footer {
    background-color: rgba(0, 0, 0, 0.8); /* Adjust opacity as needed */
    color: #fff;
    padding: 20px;
    text-align: center;
    position: relative; /* Ensure relative positioning */
    z-index: 3; /* Ensure footer is above other content */
}

/* Media query for smaller screens */
@media (max-width: 1020px) {
    nav a {
        display: block;
        margin: 10px auto;
    }
    .video-container {
        max-width: 80%;
    }
}

/* Media query for even smaller screens */
@media (max-width: 460px) {
    .content-container {
        flex-direction: column;
        align-items: center;
    }
    .mail {
        margin-right: 0;
        margin-bottom: 20px;
        max-width: 80%;
    }
    .video-container {
        max-width: 80%;
    }
}
